{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'csstutorials' %}">CSS Introduction</a>
  <a href="{%url 'csstutorials-syntax' %}">CSS Syntax</a>
  <a href="{%url 'csstutorials-selectors' %}">CSS Selectors</a>
  <a href="{%url 'csstutorials-comments' %}">CSS Comments</a>
  <a href="{%url 'csstutorials-borders' %}">CSS Borders</a>
  <a href="{% url 'csstutorials-margins' %}">CSS Margins</a>
    <a href="{% url 'csstutorials-boxmodel' %}">CSS Box Model</a>
    <a href="{% url 'csstutorials-pseudoelements' %}">CSS Pseudo Elements</a>
    <a href="{% url 'csstutorials-transitions' %}">CSS Transitions</a>
    <a href="{% url 'csstutorials-animations' %}">CSS Animations</a>
</div>
<div class="main">
    <h3>CSS Animations</h3><br>
    <p>
        CSS allows animation of HTML elements without using JavaScript or Flash!<br>
        In this chapter you will learn about the following properties:<br>
    </p>
    <ul>
        <li>@keyframes</li>
        <li>animation-name</li>
        <li>animation-duration</li>
        <li>animation-delay</li>
        <li>animation-iteration-count</li>
        <li>animation-direction</li>
        <li>animation-timing-function</li>
        <li>animation-fill-mode</li>
        <li>animation</li>
    </ul>
    <h3>What are CSS Animations?</h3><br>
    <p>An animation lets an element gradually change from one style to another.<br>
    You can change as many CSS properties you want, as many times you want.<br>
        To use CSS animation, you must first specify some keyframes for the animation.<br>
        Keyframes hold what styles the element will have at certain times.<br>
    </p>
    <h3>The @keyframes Rule</h3><br>
    <p>
      When you specify CSS styles inside the @keyframes rule, the animation will gradually change from the current style to the new style at certain times.<br>
        To get an animation to work, you must bind the animation to an element.<br>
        The following example binds the "example" animation to the &lt;div&gt; element. The animation will last for 4 seconds, and it will gradually change the background-color of the &lt;div&gt; element from "red" to "yellow":<br>
    </p>
    <code><pre>
        /* The animation code */<br>
@keyframes example {<br>
  &nbsp;&nbsp;from {background-color: red;}<br>
  &nbsp;&nbsp;to {background-color: yellow;}<br>
}<br>
<br>
/* The element to apply the animation to */<br>
div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
}<br>
    </pre></code>
    <p>
        <strong>Note:</strong> The animation-duration property defines how long time an animation should take to complete. If the animation-duration property is not specified, no animation will occur, because the default value is 0s (0 seconds). <br>
        In the example above we have specified when the style will change by using the keywords "from" and "to" (which represents 0% (start) and 100% (complete)).<br>
        It is also possible to use percent. By using percent, you can add as many style changes as you like.<br>
        The following example will change the background-color of the <div> element when the animation is 25% complete, 50% complete, and again when the animation is 100% complete:<br>
    </p>
    <code><pre>
        /* The animation code */<br>
@keyframes example {<br>
  &nbsp;&nbsp;0%   {background-color: red;}<br>
  &nbsp;&nbsp;25%  {background-color: yellow;}<br>
  &nbsp;&nbsp;50%  {background-color: blue;}<br>
  &nbsp;&nbsp;100% {background-color: green;}<br>
}<br>
<br>
/* The element to apply the animation to */<br>
div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
}<br>
    </pre></code>
    <p>
        The following example will change both the background-color and the position of the &lt;div&gt; element when the animation is 25% complete, 50% complete, and again when the animation is 100% complete:
    </p>
    <code><pre>
                /* The animation code */<br>
@keyframes example {<br>
  &nbsp;&nbsp;0%   {background-color: red; left:0px; top:0px;}<br>
  &nbsp;&nbsp;25%  {background-color: yellow; left:200px; top:0px;}<br>
  &nbsp;&nbsp;50%  {background-color: blue; left:200px; top:200px;}<br>
  &nbsp;&nbsp;100% {background-color: green; left:0px; top:200px;}<br>
        &nbsp;&nbsp;{background-color:red; left:0px; top:0px;}<br>
}<br>
<br>
/* The element to apply the animation to */<br>
div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
}<br>
    </pre></code>
    <h3>Delay an Animation</h3>
    <p>
        The animation-delay property specifies a delay for the start of an animation.<br>
        The following example has a 2 seconds delay before starting the animation:<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-delay: 2s;<br>
}<br>
    </pre></code>
    <p>
        Negative values are also allowed. If using negative values, the animation will start as if it had already been playing for N seconds.<br>
        In the following example, the animation will start as if it had already been playing for 2 seconds:<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-delay: -2s;<br>
}<br>
    </pre></code>
    <h3>Set How Many Times an Animation Should Run</h3>
    <p>
        The animation-iteration-count property specifies the number of times an animation should run.<br>
        The following example will run the animation 3 times before it stops:<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-iteration-count: 3;<br>
}<br>
    </pre></code>
    <p>
        The following example uses the value "infinite" to make the animation continue for ever:
    </p>
    <code><pre>
                div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-iteration-count: infinite;<br>
}<br>
    </pre></code>
    <h3>Run Animation in Reverse Direction or Alternate Cycles</h3><br>
    <p>
       The animation-direction property specifies whether an animation should be played forwards, backwards or in alternate cycles.<br>
        The animation-direction property can have the following values:<br>
        <ul>
    <li><strong>normal -</strong>The animation is played as normal (forwards). This is default</li>
    <li><strong>reverse -</strong>The animation is played in reverse direction (backwards)</li>
    <li><strong>alternate -</strong>The animation is played forwards first, then backwards</li>
    <li><strong>alternate-reverse -</strong>The animation is played backwards first, then forwards</li>
</ul>
    <br>
    The following example will run the animation in reverse direction (backwards):<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-direction: reverse;<br>
}<br>
    </pre></code>
    <p>The following example uses the value "alternate" to make the animation run forwards first, then backwards:</p>
    <code><pre>
                div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-direction: alternate;<br>
}<br>
    </pre></code>
    <p>The following example uses the value "alternate-reverse" to make the animation run backwards first, then forwards:</p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-direction: alternate-reverse;<br>
}<br>
    </pre></code>
    <br>
    <h3>Specify the Speed Curve of the Animation</h3><br>
    <p>
       The animation-timing-function property specifies the speed curve of the animation.<br>
        The animation-timing-function property can have the following values:<br>
        <ul>
    <li><strong>ease -</strong>Specifies an animation with a slow start, then fast, then end slowly (this is default)</li>
    <li><strong>linear -</strong>Specifies an animation with the same speed from start to end</li>
    <li><strong>ease-in -</strong>Specifies an animation with a slow start</li>
    <li><strong>ease-out -</strong>Specifies an animation with a slow end</li>
    <li><strong>ease-in-out -</strong>Specifies an animation with a slow start and end</li>
    <li><strong>cubic-bezier(n,n,n,n) -</strong>Lets you define your own values in a cubic-bezier function</li>
</ul><br>
    The following example shows the some of the different speed curves that can be used:<br>
    </p>
    <code><pre>
        #div1 {animation-timing-function: linear;}<br>
#div2 {animation-timing-function: ease;}<br>
#div3 {animation-timing-function: ease-in;}<br>
#div4 {animation-timing-function: ease-out;}<br>
#div5 {animation-timing-function: ease-in-out;}<br>
    </pre></code>
    <br>
    <h3>Specify the fill-mode For an Animation</h3><br>
    <p>
       CSS animations do not affect an element before the first keyframe is played or after the last keyframe is played. The animation-fill-mode property can override this behavior.<br>
        The animation-fill-mode property specifies a style for the target element when the animation is not playing (before it starts, after it ends, or both).<br>
        The animation-fill-mode property can have the following values:<br>
        <ul>
    <li><strong>none - </strong>Default value. Animation will not apply any styles to the element before or after it is executing</li>
    <li><strong>forwards - </strong>The element will retain the style values that is set by the last keyframe (depends on animation-direction and animation-iteration-count)</li>
    <li><strong>backwards -</strong>The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period</li>
    <li><strong>both -</strong>The animation will follow the rules for both forwards and backwards, extending the animation properties in both directions</li>
</ul>
    <br>
    The following example lets the &lt;div&gt; element retain the style values from the last keyframe when the animation ends:<br>
    </p>
    <code><pre>
                div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-fill-mode: forwards;<br>
}<br>
    </pre></code>
    <p>
        The following example lets the <div> element get the style values set by the first keyframe before the animation starts (during the animation-delay period):<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-fill-mode: backwards;<br>
}<br>
    </pre></code>
    <p>
        The following example lets the <div> element get the style values set by the first keyframe before the animation starts, and retain the style values from the last keyframe when the animation ends:<br>
    </p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;width: 100px;<br>
  &nbsp;&nbsp;height: 100px;<br>
  &nbsp;&nbsp;position: relative;<br>
  &nbsp;&nbsp;background-color: red;<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 4s;<br>
  &nbsp;&nbsp;animation-fill-mode: both;<br>
}<br>
    </pre></code>
    <h3>Animation Shorthand Property</h3>
    <p>The example below uses six of the animation properties:</p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;animation-name: example;<br>
  &nbsp;&nbsp;animation-duration: 5s;<br>
  &nbsp;&nbsp;animation-timing-function: linear;<br>
  &nbsp;&nbsp;animation-delay: 2s;<br>
  &nbsp;&nbsp;animation-iteration-count: infinite;<br>
  &nbsp;&nbsp;animation-direction: alternate;<br>
}<br>
    </pre></code>
    <p>The same animation effect as above can be achieved by using the shorthand animation property:</p>
    <code><pre>
        div {<br>
  &nbsp;&nbsp;animation: example 5s linear 2s infinite alternate;<br>
}<br>
    </pre></code>
    <h3>CSS Animation Properties</h3>
    <p>The following table lists the @keyframes rule and all the CSS animation properties:</p>
    <table>
  <tr>
    <th style="width:28%">Property</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>@keyframes</td>
    <td>Specifies the animation code</td>
  </tr>
  <tr>
    <td>animation</td>
    <td>A shorthand property for setting all the animation properties</td>
  </tr>
    <tr>
    <td>animation-delay</td>
    <td>Specifies a delay for the start of an animation</td>
    </tr>
  <tr>
    <td>animation-direction</td>
    <td>Specifies whether an animation should be played forwards, backwards or
    in alternate cycles</td>
    </tr>
  <tr>
  <td>animation-duration</td>
   <td>Specifies how long time an animation should take to complete one cycle</td>
    </tr>
  <tr>
   <td>animation-fill-mode</td>
   <td>Specifies a style for the element when the animation is not playing
   (before it starts, after it ends, or both)</td>
   </tr>
 <tr>
   <td>animation-iteration-count</td>
   <td>Specifies the number of times an animation should be played</td>
   </tr>
  <tr>
    <td>animation-name</td>
    <td>Specifies the name of the @keyframes animation</td>
  </tr>
    <tr>
    <td>animation-play-state</td>
    <td>Specifies whether the animation is running or paused</td>
    </tr>
  <tr>
    <td>animation-timing-function</td>
    <td>Specifies the speed curve of the animation</td>
  </tr>
</table>
</div>
{% endblock %}