<div class="sidenav">
  <a href="#"><strong>CSS Basics</strong></a>
  <a href="{% url 'cssex1' %}">Exercise-1</a>
  <a href="#"><strong>CSS Margins</strong></a>
  <a href="{% url 'cssex2' %}">Exercise-2</a>
  <a href="#"><strong>CSS Syntax</strong></a>
  <a href="{% url 'cssex3' %}">Exercise-3</a>
  <a href="#"><strong>CSS Box Model</strong></a>
  <a href="{% url 'cssex4' %}">Exercise-4</a>
  <a href="#"><strong>CSS Pseudo-elements</strong></a>
  <a href="{% url 'cssex5' %}">Exericse-5</a>
</div>
