{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<style>
.collapsible {
  margin-left:15%;
  margin-right:15%;
  background-color: #D3D3D3;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #A9A9A9;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}

h3{
   margin-left: 15%;
}
</style>

<h3>CSS Syntax</h3>
<button class="collapsible">CSS Syntax</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
p {
  &nbsp;&nbsp;color: red;
  &nbsp;&nbsp;text-align: center;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;Hello World!&lt;/p&gt;
&lt;p&gt;These paragraphs are styled with CSS.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<br>
<h3>CSS Selectors</h3>
<button class="collapsible">The element selector</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
p {
  text-align: center;
  color: red;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;Every paragraph will be affected by the style.&lt;/p&gt;
&lt;p&gt; id="para1">Me too!&lt;/p&gt;
&lt;p&gt;And me!&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">The id selector</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
#para1 {
  text-align: center;
  color: red;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p id="para1"&gt;Hello World!&lt;/p&gt;
&lt;p&gt;This paragraph is not affected by the style.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Class Selector</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
.center {
  text-align: center;
  color: red;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1 class="center"&gt;Red and center-aligned heading&lt;/h1&gt;
&lt;p class="center"&gt;Red and center-aligned paragraph.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<br>
<h3>CSS How to/Where to</h3>
</div>
<button class="collapsible">External, Internal and Inline CSS</button>
<div class="content">
<strong>External CSS</strong><br>
<pre><code>
&lt;head&gt;
&lt;link rel="stylesheet" href="mystyle.css"&gt;
&lt;/head&gt;
</code></pre>
<br>
<strong>Internal CSS</strong>
<br>
<pre><code>
&lt;style&gt;
body {
  background-color: linen;
}
&lt;/style&gt;
</code></pre>
<br>
Inline CSS<br>
<pre><code>
&lt;h1 style="color:blue;text-align:center;"&gt;This is a heading&lt;/h1&gt;
</code></pre>
</div>
<br>
<h3>CSS Comments</h3>
<button class="collapsible">Single and Multi-line Comments</button>
<div class="content">
Single line comment <br>
    <pre><code>
/* This is a single-line comment */
        </code></pre>
Multi-line comments<br>
    <pre><code>
/* This is
a multi-line
comment */
        </code></pre>
</div>
<br>
<h3>CSS Colors</h3>
<button class="collapsible">Background color</button>
<div class="content">
<pre><code>
&lt;h1 style="background-color:DodgerBlue;"&gt;Hello World&lt;/h1&gt;
</code></pre>
</div>
<button class="collapsible">Text Color</button>
<div class="content">
<pre><code>
&h3 style="color:Tomato;">Hello World&lt;/h3&gt;
</code></pre>
</div>
<button class="collapsible">Border Color</button>
<div class="content">
<pre><code>
&lt;h1 style="border: 2px solid Tomato;"&gt;Hello World&lt;/h1&gt;
</code></pre>
</div>
<br>
<h3>CSS Box Model</h3>
<button class="collapsible">Demonstrating box model</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h2&gt;Demonstrating the Box Model&lt;/h2&gt;
&lt;p&gt;The CSS box model is essentially a box that wraps around every HTML element. It consists of: borders, padding, margins, and the actual content.&lt;/p&gt;
&lt;div&gt;This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border.&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<br>
<h3>CSS Pseudo-classes</h3>
<button class="collapsible">Use of :focus</button>
<div class="content">
<pre><code>
&lt;style&gt;
input:focus {
  background-color: yellow;
}
&lt;/style&gt;
</code></pre>
</div>
<button class="collapsible">:first-child - match the first p element</button>
<div class="content">
<pre><code>
&lt;style&gt;
p:first-child {
  color: blue;
}
&lt;/style&gt;
</code></pre>
</div>
<button class="collapsible">:first-child - match the first i element in all p elements</button>
<div class="content">
<pre><code>
&lt;style&gt;
p i:first-child {
  color: blue;
}
&lt;/style&gt;
</code></pre>
</div>
<button class="collapsible">:first-child - match all i elements in all first child p elements</button>
<div class="content">
<pre><code>
&lt;style&gt;
p:first-child i {
  color: blue;
}
&lt;/style&gt;
</code></pre><br><br>
</div>
<br>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}