{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'csstutorials' %}">CSS Introduction</a>
  <a href="{%url 'csstutorials-syntax' %}">CSS Syntax</a>
  <a href="{%url 'csstutorials-selectors' %}">CSS Selectors</a>
  <a href="{%url 'csstutorials-comments' %}">CSS Comments</a>
  <a href="{%url 'csstutorials-borders' %}">CSS Borders</a>
  <a href="{% url 'csstutorials-margins' %}">CSS Margins</a>
  <a href="{% url 'csstutorials-boxmodel' %}">CSS Box Model</a>
  <a href="{% url 'csstutorials-position' %}">CSS Position</a>
  <a href="{% url 'csstutorials-pseudoelements' %}">CSS Pseudo Elements</a>
  <a href="{% url 'csstutorials-transitions' %}">CSS Transitions</a>
  <a href="{% url 'csstutorials-animations' %}">CSS Animations</a>
</div>
<div class="main">
  <h3><strong>CSS Borders</strong></h3><br>
    <p><strong>CSS Border properties</strong><br>The CSS border properties allow you to specify the style, width, and color of an element's border.
    </p><br>
  <h3><strong>CSS Border Style</strong></h3>
<p>
  The border-style property specifies what kind of border to display.<br>
  The following values are allowed:<br>
</p><ul>
  <li>dotted - Defines a dotted border</li>
  <li>dashed - Defines a dashed border</li>
  <li>solid - Defines a solid border</li>
  <li>double - Defines a double border</li>
  <li>groove - Defines a 3D grooved border. The effect depends on the border-color value</li>
  <li>ridge - Defines a 3D ridged border. The effect depends on the border-color value</li>
  <li>inset - Defines a 3D inset border. The effect depends on the border-color value</li>
  <li>outset - Defines a 3D outset border. The effect depends on the border-color value</li>
  <li>none - Defines no border</li>
  <li>hidden - Defines a hidden border</li>
</ul><br>
  <span style="color:red">The border-style property can have from one to four values (for the top border, right border, bottom border, and the left border).</span>
  <br>
<pre><code><h4>Examples</h4>
<strong>Demonstration of the different border styles:</strong>
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}</code></pre>
</div>
<br><br>
{% endblock %}