{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'csstutorials' %}">CSS Introduction</a>
  <a href="{%url 'csstutorials-syntax' %}">CSS Syntax</a>
  <a href="{%url 'csstutorials-selectors' %}">CSS Selectors</a>
  <a href="{%url 'csstutorials-comments' %}">CSS Comments</a>
  <a href="{%url 'csstutorials-borders' %}">CSS Borders</a>
  <a href="{% url 'csstutorials-margins' %}">CSS Margins</a>
  <a href="{% url 'csstutorials-boxmodel' %}">CSS Box Model</a>
  <a href="{% url 'csstutorials-position' %}">CSS Position</a>
    <a href="{% url 'csstutorials-pseudoelements' %}">CSS Pseudo Elements</a>
    <a href="{% url 'csstutorials-transitions' %}">CSS Transitions</a>
    <a href="{% url 'csstutorials-animations' %}">CSS Animations</a>
</div>
<div class="main" style="font-size:20px">
    <h3><strong>CSS Animations</strong></h3>
    <p>
        CSS allows animation of HTML elements without using JavaScript or Flash!<br>
        In this chapter you will learn about the following properties:<br>
    </p>
    <ul>
        <li>@keyframes</li>
        <li>animation-name</li>
        <li>animation-duration</li>
        <li>animation-delay</li>
        <li>animation-iteration-count</li>
        <li>animation-direction</li>
        <li>animation-timing-function</li>
        <li>animation-fill-mode</li>
        <li>animation</li>
    </ul>
    <h3><strong>What are CSS Animations?</strong></h3>
    <p>An animation lets an element gradually change from one style to another.<br>
    You can change as many CSS properties you want, as many times you want.<br>
        To use CSS animation, you must first specify some keyframes for the animation.<br>
        Keyframes hold what styles the element will have at certain times.<br>
    </p><br>
    <table border="1">
  <tr>
    <th style="width:28%">Property</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>@keyframes</td>
    <td>Specifies the animation code</td>
  </tr>
  <tr>
    <td>animation</td>
    <td>A shorthand property for setting all the animation properties</td>
  </tr>
    <tr>
    <td>animation-delay</td>
    <td>Specifies a delay for the start of an animation</td>
    </tr>
  <tr>
    <td>animation-direction</td>
    <td>Specifies whether an animation should be played forwards, backwards or
    in alternate cycles</td>
    </tr>
  <tr>
  <td>animation-duration</td>
   <td>Specifies how long time an animation should take to complete one cycle</td>
    </tr>
  <tr>
   <td>animation-fill-mode</td>
   <td>Specifies a style for the element when the animation is not playing
   (before it starts, after it ends, or both)</td>
   </tr>
 <tr>
   <td>animation-iteration-count</td>
   <td>Specifies the number of times an animation should be played</td>
   </tr>
  <tr>
    <td>animation-name</td>
    <td>Specifies the name of the @keyframes animation</td>
  </tr>
    <tr>
    <td>animation-play-state</td>
    <td>Specifies whether the animation is running or paused</td>
    </tr>
  <tr>
    <td>animation-timing-function</td>
    <td>Specifies the speed curve of the animation</td>
  </tr>
</table>
    <br><br>
</div>
{% endblock %}