{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a><b>HTML</b></a>
  <a href="{% url 'htmltutorials' %}">Tutorials</a>
  <a href="{% url 'htmlreferences' %}">References</a>
  <a href="{% url 'htmlexamples' %}">Examples</a>
  <a> Exercises</a>
  <br><br>
  <a><b>CSS</b></a>
  <a href="{%url 'csstutorials' %}">Tutorials</a>
  <a href="{% url 'cssreferences' %}">References</a>
  <a href="{%url 'cssexamples' %}">Examples</a>
  <a href="{%url 'cssex1' %}"> Exercises</a>
  <br><br>
  <a><b>JAVASCRIPT</b></a>
  <a href="{%url 'jstutorials' %}">Tutorials</a>
  <a href="{%url 'jsreferences'%}">References</a>
  <a href="{% url 'jsexamples' %}">Examples</a>
  <a> Exercises</a>
  </div>
<!-- Page content -->
<div class="main"  style="font-size:20px;">
  <div class="maindiv">
    <center>
      <h1>HTML</h1>
      <p>The language for building web pages</p>
      <span><a href="{% url 'htmltutorials' %}">LEARN HTML</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'htmlreferences' %}">HTML REFERENCE</a></span>
    </center>
  </div>
  <div align="right">
    <div class="maindiv">
    <center>
      <h1>CSS</h1>
      <p>The language for styling web pages</p>
      <span><a href="{% url 'csstutorials' %}">LEARN CSS</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'cssreferences' %}">CSS REFERENCE</a></span>
    </center>
  </div>
  </div>
  <div class="maindiv">
    <center>
      <h1>JAVASCRIPT</h1>
      <p>The language for programming web pages</p>
      <span><a href="{% url 'jstutorials' %}">LEARN JS</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'jsreferences' %}">JS REFERENCE</a></span>
    </center>
  </div>
</div>
{% endblock %}
