{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a><b>HTML</b></a>
  <a href="{% url 'htmltutorials' %}">Tutorials</a>
  <a >References</a>
  <a >Examples</a>
  <a> Exercises</a>
  <br><br>
  <a><b>CSS</b></a>
  <a href="{%url 'csstutorials' %}">Tutorials</a>
  <a>References</a>
  <a href="{%url 'cssexamples' %}">Examples</a>
  <a> Exercises</a>
  <br><br>
  <a><b>JAVASCRIPT</b></a>
  <a href="{%url 'jstutorials' %}">Tutorials</a>
  <a >References</a>
  <a >Examples</a>
  <a> Exercises</a>
  </div>
<!-- Page content -->
<div class="main">
  <div class="maindiv">
    <center>
      <h1>HTML</h1>
      <p>The language for building web pages</p>
      <span><a>LEARN HTML &nbsp;&nbsp;&nbsp;</a><a>HTML REFERENCE</a></span>
    </center>
  </div>
  <div align="right">
    <div class="maindiv">
    <center>
      <h1>CSS</h1>
      <p>The language for styling web pages</p>
      <span><a>LEARN CSS &nbsp;&nbsp;&nbsp;</a><a>CSS REFERENCE</a></span>
    </center>
  </div>
  </div>
  <div class="maindiv">
    <center>
      <h1>JAVASCRIPT</h1>
      <p>The language for programming web pages</p>
      <span><a>LEARN JS &nbsp;&nbsp;&nbsp;</a><a>JS REFERENCE</a></span>
    </center>
  </div>
</div>
{% endblock %}
