<div class="sidenav">
  <a><strong>HTML Basics</strong></a>
  <a href="{% url 'htmlex1' %}">Start Exercise 1</a>
  <a href="#"><strong>HTML tags</strong></a>
  <a href="{% url 'htmlex2' %}">Start Exercise 2</a>
  <a href="#"><strong>HTML lists</strong></a>
  <a href="{% url 'htmlex3' %}">Start Exercise 3</a>
  <a href="#"><strong>HTML Tables</strong></a>
  <a href="{% url 'htmlex4' %}">Start Exercise 4</a>
  <a href="#"><strong>HTML Forms</strong></a>
  <a href="{% url 'htmlex5' %}">Start Exercise 5</a>
</div>