{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
{% include 'htmlsidebar.html' %}
<div class="main" style="font-size:20px">
    <br>
        <button class="previous" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;
    color: #ffffff;"><a href="{% url 'htmltutorials-basictags'%}" style="color:#ffffff">Prev</a></button>
    <button class="next" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;;float:right"><a href="{% url 'htmltutorials-citationtags' %}" style="color:#ffffff">Next</a></button><br>
    <h3><strong>What is HTML?</strong></h3>
    <h3><strong>Text Formatting Tags</strong></h3>
    <p>Formatting elements were designed to display special types of text:</p>
    <ul>
        <li>&lt;b&gt; - Bold text</li>
        <li>&lt;strong&gt; - Important text</li>
        <li>&lt;i&gt; - Italic text</li>
        <li>&lt;em&gt; - Emphasized text</li>
        <li>&lt;mark&gt; - Marked text</li>
        <li>&lt;small&gt; - Smaller text</li>
        <li>&lt;del&gt; - Deleted text</li>
        <li>&lt;ins&gt; - Inserted text</li>
        <li>&lt;sub&gt; - Subscript text</li>
        <li>&lt;sup&gt; - Superscript text</li>
    </ul>
    <br>
<pre><code>&lt;b&gt;This text is bold &lt;/b&gt;
&lt;strong&gt;This text is important!&lt;/strong&gt;
&lt;i&gt;This text is italic&lt;/i&gt;
&lt;em&gt;This text is emphasized&lt;/em&gt;
&lt;small&gt;This is some smaller text.&lt;/small&gt;
&lt;p&gt;Do not forget to buy &lt;mark&gt;milk&lt;/mark&gt; today.&lt;/p&gt;
&lt;p&gt;My favorite color is &lt;del&gt;blue&lt;/del&gt; red.&lt;/p&gt;
&lt;p&gt;My favorite color is &lt;del&gt;blue&lt;/del&gt; &lt;ins&gt;red&lt;/ins&gt;.&lt;/p&gt;
&lt;p&gt;This is &lt;sub&gt;subscripted&lt;/sub&gt; text.&lt;/p&gt;
&lt;p&gt;This is &lt;sup&gt;superscripted&lt;/sup&gt;text.&lt;/p&gt;
</code></pre>
    <br>
    <p>The output of above code looks like:</p>
<pre><code><b>This text is bold</b>
<strong>This text is important!</strong>
<i>This text is italic</i>
<em>This text is emphasized</em>
<small>This is some smaller text.</small>
Do not forget to buy <mark>milk</mark> today.
My favorite color is <del>blue</del> red.
My favorite color is <del>blue</del> <ins>red</ins>.
This is <sub>subscripted</sub> text.
This is <sup>superscripted</sup> text.
</code></pre>

    <br>
    <br>
    <br>
</div>
{% endblock %}