<div class="sidenav">
    <a href="{% url 'htmltutorials' %}">overview</a>
  <a href="{% url 'htmltutorials-basictags'%}">basic HTML tags</a>
  <a href="{% url 'htmltutorials-textformatting'%}">text formatting tags</a>
  <a href="{% url 'htmltutorials-citationtags' %}">citation tags</a>
  <a href="{% url 'htmltutorials-lists' %}">lists</a>
  <a href="{% url 'htmltutorials-tables' %}">Tables</a>
  <a href="{% url 'htmltutorials-forms' %}">forms</a>
  <a href="{% url 'htmltutorials-blocklevel' %}">Block level elements</a>
  <a href="{% url 'htmltutorials-inline' %}">Inline elements</a>
</div>
