{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
{% include 'htmlsidebar.html' %}
<div class="main">
    <h3><strong>HTML TABLES</strong></h3>
    <p>HTML tables allow web developers to arrange data into rows and columns.</p>
    <h3><u>Define an HTML Table</u></h3>
    <p>The &lt;table&gt; tag defines an HTML table. Each table row is defined with a <tr>
    tag. Each table header is defined with a &lt;th&gt; tag.
    Each table data/cell is defined with a &lt;td&gt; tag.
    By default, the text in &lt;th&gt; elements are bold and centered.
    By default, the text in &lt;td&gt; elements are regular and left-aligned.</p>
    <p><pre><code>
    &lt;table style="width:100%"&gt;
    &lt;tr&gt;
        &lt;th&gt;Firstname&lt;/th&gt;
        &lt;th&gt;Lastname&lt;/th&gt;
        &lt;th&gt;Age&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;Jill&lt;/td&gt;
        &Lt;td&gt;Smith&lt;/td&gt;
        &lt;td&gt;50&lt;/td&gt;
    &lt;/tr&gt;
    &lt;/table&gt;
    </code></pre></p>
    <br>
    <p class="note"><b>Note:</b>The &lt;td&gt; elements are the data containers of the table.
        They can contain all sorts of HTML elements;
        text, images, lists, other tables, etc.</p>
    <h3><u>HTML Table- Cell that Span Many Rows </u></h3>
    <p><pre><code>
        &lt;table style="width:100%"&gt;
        &lt;tr&gt;
            &lt;th&gt;Name:&lt;/th&gt;
            &lt;th&gt;Bill Gates&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;th rowspan="2"&gt;Telephone:&lt;/td&gt;
            &Lt;td&gt;45878735&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &Lt;td&gt;55566383&lt;/td&gt;
        &lt;/tr&gt;
        &lt;/table&gt;
    </code>
    </pre>
    </p>
    <br>
    <span class="note"><b>Note:</b>The &lt;caption&gt; tag can be used to add caption and must be inserted
        immediately after the &lt;table&gt; tag.</span>
    <br>
    <h3><u>Chapter Summary</u></h3>
    <ul>
        <li>Use the HTML<span style="color:red;">&lt;table&gt;</span>  element to define a table</li>
        <li>Use the HTML<span style="color:red;">&lt;tr&gt;</span>  element to define a table row</li>
        <li>Use the HTML<span style="color:red;">&lt;td&gt;</span>  element to define a table data</li>
        <li>Use the HTML<span style="color:red;">&lt;th&gt;</span>  element to define a table heading</li>
        <li>Use the HTML<span style="color:red;">&lt;caption&gt;</span>  element to define a table caption</li>
        <li>Use the <span style="color:red;">colspan</span> attribute to make a cell span many columns</li>
        <li>Use the <span style="color:red;">rowspan</span> attribute to make a cell span many rows</li>
    </ul>

    <br>
    <br>
    <br>
</div>
{% endblock %}