<div class="sidenav">
    <a href="{% url 'htmltutorials' %}">HTML Overview</a>
  <a href="{% url 'htmltutorials-basictags'%}">HTML Tags</a>
  <a href="{% url 'htmltutorials-textformatting'%}">HTML Text formatting tags</a>
  <a href="{% url 'htmltutorials-citationtags' %}">HTML Citation tags</a>
  <a href="{% url 'htmltutorials-lists' %}">HTML Lists</a>
  <a href="{% url 'htmltutorials-tables' %}">HTML Tables</a>
  <a href="{% url 'htmltutorials-forms' %}">HTML Forms</a>
  <a href="{% url 'htmltutorials-blocklevel' %}">HTML Block elements</a>
  <a href="{% url 'htmltutorials-inline' %}">HTML Inline elements</a>
</div>
