{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<style>
.collapsible {
  margin-left:15%;
  margin-right:15%;
  background-color: #D3D3D3;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #A9A9A9;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
</style>

<h3 style="margin-left:15%;">HTML Basic</h3>
<button class="collapsible">HTML document</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;Hello World!&lt;/h1&gt;
        &lt;p&gt;My first paragraph&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML headings</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;This is heading 1&lt;/h1&gt;
        &lt;h2&gt;This is heading 2&lt;/h2&gt;
        &lt;h3&gt;This is heading 3&lt;/h3&gt;
        &lt;h4&gt;This is heading 4&lt;/h4&gt;
        &lt;h5&gt;This is heading 5&lt;/h5&gt;
        &lt;h6&gt;This is heading 6&lt;/h6&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML paragraphs</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;p&gt;This is paragraph 1&lt;/p&gt;
        &lt;p&gt;This is paragraph 2&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML links</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;HTML links!&lt;/h1&gt;
        &lt;a href="https://www.google.com/"&gt;This is a link&lt;/a&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML images</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;HTML images!&lt;/h1&gt;
        &lt;img src="lessonblock.jpg" width="104" height="142"&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML buttons</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;HTML buttons!&lt;/h1&gt;
        &lt;button&gt;Click me&lt;/button&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">HTML links</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;h1&gt;HTML lists!&lt;/h1&gt;
        &lt;ul&gt;
        &lt;li&gt;Coffee&lt;/li&gt;
        &lt;li&gt;Tea&lt;/li&gt;
        &lt;li&gt;Milk&lt;/li&gt;
        &lt;/ul&gt;
        &lt;ol&gt;
        &lt;li&gt;Coffee&lt;/li&gt;
        &lt;li&gt;Tea&lt;/li&gt;
        &lt;li&gt;Milk&lt;/li&gt;
        &lt;/ol&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<br>
<h3 style="margin-left:15%;">HTML Text Formatting</h3>
<button class="collapsible">Bold formatting</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This text is normal&lt;/p&gt;
&lt;p&gt;&lt;b&gt;this text is bold&lt;/b&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Strong Formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This text is normal&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;this text is important!!&lt;/strong&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Italic formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This text is normal&lt;/p&gt;
&lt;p&gt;&lt;i&gt;this text is italic&lt;/i&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Emphasized formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This text is normal&lt;/p&gt;
&lt;p&gt;&lt;em&gt;this text is emphasized&lt;/em&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">small formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This text is normal&lt;/p&gt;
&lt;p&gt;&lt;small&gt;this is some smaller text&lt;/small&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">inserted formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
    &lt;p&gt;The ins element represent inserted (added) text.&lt;/p&gt;
    &lt;p&gt;My favorite &lt;ins&gt;color&lt;/ins&gt; is red.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Deleted formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
    &lt;p&gt;My favorite color is &lt;del&gt;blue&lt;/del&gt; black.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">mark formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
    &lt;p&gt;Do not forget to buy &lt;mark&gt;milk&lt;/mark&gt; today.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Subscript formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This is &lt;sub&gt;subscripted&lt;/sub&gt;text.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<button class="collapsible">Superscript formatting</button>
<div class="content">
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
&lt;p&gt;This is &lt;sup&gt;superscripted&lt;/sup&gt;text.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>
<br>
<h3 style="margin-left:15%;">HTML Quotations and Citations</h3>
<button class="collapsible">Short quotations</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;Browsers usually insert quotation marks around the q element.&lt;/p&gt;
        &lt;p&gt;WWF's goal is to: &lt;q&gt;Build a future where people live in harmony with nature.&lt;/q&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Blockquote quotations</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;Browsers usually indent blockquote elements.&lt;/p&gt;
        &lt;blockquote cite="http://www.worldwildlife.org/who/index.html"&gt;
        For nearly 60 years, WWF has been protecting the future of nature.
        The world's leading conservation organization, WWF works in 100 countries
        and is supported by more than one million members in the United States
        and close to five million globally.
        &lt;/blockquote&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Address Element</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;The HTML address element defines contact information (author/
        owner) of a document or article.&gt;/p&gt;
        &lt;address&gt;
        Written by John Doe.&lt;br&gt;
        Visit us at:&lt;br&gt;
        Example.com&lt;br&gt;
        Box 564, Disneyland&lt;br&gt;
        USA
        &lt;/address&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Formatting abbreviations and acronyms</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;The &lt;abbr title="World
        Health Organization"&gt;WHO&lt;/abbr&gt; was founded in 1948.&lt;/p&gt;
        &lt;p&gt;Marking up abbreviations can give useful information to browsers,
            translation systems and search-engines.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">cite element</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;The HTML cite element defines the title of a work.&lt;/p&gt;
        &lt;p&gt;Browsers usually display cite elements in italic.&lt;/p&gt;
        &lt;img src="img_the_scream.jpg" width="220" height="277" alt="The Scream"&gt;
        &lt;p&gt;&lt;cite&gt;The Scream&lt;/cite&gt; by Edvard Munch. Painted in 1893.&lt;/p&gt
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Formatting text direction</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;p&gt;If your browser supports bi-directional override (bdo),
        the next line will be written from right to left (rtl):&lt;/p&gt;
        &lt;bdo dir="rtl"&gt;This line will be written from right to left&lt;/bdo&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<br>
<h3 style="margin-left:15%;">HTML Block and inline elements</h3>
<button class="collapsible">The &lt;div&gt; element</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;div style="border: 1px solid black"&gt;Hello World&lt;/div&gt;
        &lt;p&gt;The DIV element is a block element, and will always start on a new line
        and take up the full width available
        (stretches out to the left and right as far as it can).&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">The &lt;span&gt; element</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
       &lt;p&gt;This is an inline span &lt;span style="border: 1px solid black"&gt;
           Hello World&lt;/span&gt; element inside a paragraph.&lt;/p&gt;
        &lt;p&gt;The SPAN element is an inline element, and will not start on a
            new line and only takes up as much width as necessary.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<br>
<h3 style="margin-left:15%;">HTML Tables</h3>
<button class="collapsible">Basic HTML tables</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;table style="width:100%"&gt;
        &lt;tr&gt;
            &lt;th&gt;Firstname&lt;/th&gt;
            &lt;th&gt;Lastname&lt;/th&gt;
            &lt;th&gt;Age&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Jill&lt;/td&gt;
            &Lt;td&gt;Smith&lt;/td&gt;
            &lt;td&gt;50&lt;/td&gt;
        &lt;/tr&gt;
        &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Tables cells that span more than one column</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;h2&gt;Cell that spans two columns&lt;/h2&gt;
        &lt;p&gt;To make a cell span more than one column,
        use the colspan attribute.&lt;/p&gt;
        &lt;table style="width:100%"&gt;
            &lt;tr&gt;
                &lt;th>Name&lt;/th&gt;
                &lt;th colspan="2">Telephone&lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td>Bill Gates&lt;/td&gt;
                &lt;td>55577854&lt;/td&gt;
                &lt;td>55577855&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Tables cells that span more than one row</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;h2&gt;Cell that spans two rows&lt;/h2&gt;
        &lt;p&gt;To make a cell span more than one row,
        use the rowspan attribute.&lt;/p&gt;
        &lt;table style="width:100%"&gt;
            &lt;tr&gt;
                &lt;th>Name&lt;/th&gt;
                &lt;th>Bill Gates&lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th rowspan="2">Telephone:&lt;/td&gt;
                &lt;td>55577854&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td&gt;55577855&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<h3 style="margin-left:15%;">HTML Forms</h3>
<button class="collapsible">Form with text input</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
      &lt;form&gt;
        &lt;label for="fname">First name:&lt;/label>&lt;br&gt;
        &lt;input type="text" id="fname" name="fname" value="John">&lt;br&gt;
        &lt;label for="lname">Last name:&lt;/label>&lt;br&gt;
        &lt;input type="text" id="lname" name="lname" value="Doe"&gt;
      &lt;/form&gt;
        &lt;p&gt;Note that the form itself is not visible.&lt;/p&gt;
        &lt;p&gt;Also note that the default width of text input fields is 20 characters.
        &lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Form with radio button input</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
        &lt;h2>Radio Buttons&lt;/h2>
        &lt;form>
            &lt;input type="radio" id="male" name="gender" value="male">
            &lt;label for="male">Male&lt;/label>&lt;br>
            &lt;input type="radio" id="female" name="gender" value="female">
            &lt;label for="female">Female&lt;/label>&lt;br>
            &lt;input type="radio" id="other" name="gender" value="other">
            &lt;label for="other">Other&lt;/label>
        &lt;/form>
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<button class="collapsible">Form with text fields and a submit button</button>
<div class="content">
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
      &lt;form&gt;
        &lt;label for="fname">First name:&lt;/label>&lt;br&gt;
        &lt;input type="text" id="fname" name="fname" value="John">&lt;br&gt;
        &lt;label for="lname">Last name:&lt;/label>&lt;br&gt;
        &lt;input type="text" id="lname" name="lname" value="Doe"&gt;
        &lt;input type="submit" value="Submit">
      &lt;/form&gt;
      &lt;p>If you click the "Submit" button, the form-data
          will be sent to a page called "/action_page.php".&lt;/p>

&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
</div>
<br>
<br>
<br>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}