<div class="sidenav">
  <a><strong>JS Basics</strong></a>
  <a href="{% url 'jsex1' %}">Start Exercise 1</a>
  <a href="#"><strong>JS History</strong></a>
  <a href="{% url 'jsex2' %}">Start Exercise 2</a>
  <a href="#"><strong>JS Statements</strong></a>
  <a href="{% url 'jsex3' %}">Start Exercise 3</a>
  <a href="#"><strong>JS Variables</strong></a>
  <a href="{% url 'jsex4' %}">Start Exercise 4</a>
  <a href="#"><strong>JS Operators</strong></a>
  <a href="{% url 'jsex5' %}">Start Exercise 5</a>
</div>