{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'jstutorials' %}">JS Introduction</a>
    <a href="{% url 'jstutorials-output' %}">JS Output</a>
    <a href="{% url 'jstutorials-statements' %}">JS Statements</a>
    <a href="{% url 'jstutorials-syntax' %}">JS Syntax</a>
    <a href="{% url 'jstutorials-comments' %}">JS Comments</a>
    <a href="{% url 'jstutorials-arithmetic' %}">JS Arithmetic</a>
    <a href="{% url 'jstutorials-functions' %}">JS Functions</a>
    <a href="{% url 'jstutorials-arrays' %}">JS Arrays</a>
</div>
<div class="main" style="font-size:20px">
    <br>
    <button class="previous" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;
    color: #ffffff;"><a href="{% url 'jstutorials-arithmetic' %}" style="color:#ffffff">Prev</a></button>
    <button class="next" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;;float:right"><a href="{% url 'jstutorials-arrays' %}" style="color:#ffffff">Next</a></button><br><br>
    <h3><strong>JavaScript Functions</strong></h3>
    <p>A JavaScript function is a block of code designed to perform a particular task.<br>
    A JavaScript function is executed when "something" invokes it (calls it).
    </p>
    <pre><code>function myFunction(p1, p2) {
  return p1 * p2;   // The function returns the product of p1 and p2
}
    </code></pre><br>
    <h3><strong>JavaScript Function Syntax</strong></h3>
    <p>A JavaScript function is defined with the function keyword, followed by a name, followed by parentheses ().<br>
    Function names can contain letters, digits, underscores, and dollar signs (same rules as variables).<br>
     The parentheses may include parameter names separated by commas:
(parameter1, parameter2, ...)<br>
     The code to be executed, by the function, is placed inside curly brackets: {}<br>
    </p>
    <pre><code>function name(parameter1, parameter2, parameter3) {
  // code to be executed
}
    </code></pre>
    <br>
    <p>Function parameters are listed inside the parentheses () in the function definition.<br>
    Function arguments are the values received by the function when it is invoked.<br>
     Inside the function, the arguments (the parameters) behave as local variables.<br>
    </p><br>
    <p class="note">A Function is much the same as a Procedure or a Subroutine, in other programming languages.</p><br>
    <h3><strong>Function Invocation</strong></h3>
    <p>The code inside the function will execute when "something" invokes (calls) the function:<br>
    <ul>
    <li>When an event occurs (when a user clicks a button)</li>
    <li>When it is invoked (called) from JavaScript code</li>
    <li>Automatically (self invoked)</li>
</ul>
    </p>
    <h3><strong>Function Return</strong></h3>
    <p>When JavaScript reaches a return statement, the function will stop executing.<br>
    If the function was invoked from a statement, JavaScript will "return" to execute the code after the invoking statement.<br>
    Functions often compute a return value. The return value is "returned" back to the "caller":<br>
    </p>
    <pre><code>var x = myFunction(4, 3);   // Function is called, return value will end up in x
function myFunction(a, b) {
  return a * b;             // Function returns the product of a and b
}
    </code></pre>
    <br><br>
</div>
{% endblock %}