{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'jstutorials' %}">JS Introduction</a>
    <a href="{% url 'jstutorials-output' %}">JS Output</a>
    <a href="{% url 'jstutorials-statements' %}">JS Statements</a>
    <a href="{% url 'jstutorials-syntax' %}">JS Syntax</a>
        <a href="{% url 'jstutorials-comments' %}">JS Comments</a>
    <a href="{% url 'jstutorials-arithmetic' %}">JS Arithmetic</a>
    <a href="{% url 'jstutorials-functions' %}">JS Functions</a>
    <a href="{% url 'jstutorials-arrays' %}">JS Arrays</a>
</div>
<div class="main" style="font-size:20px">
    <br>
    <button class="previous" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;
    color: #ffffff;"><a href="{% url 'jstutorials-statements' %}" style="color:#ffffff">Prev</a></button>
    <button class="next" style="height: 50px;
    width:100px;
    background: #325C74;border-radius: 8px;;float:right"><a href="{% url 'jstutorials-comments' %}" style="color:#ffffff">Next</a></button><br><br>
    <h3><strong>JS Syntax</strong></h3><br>
    <p>JavaScript syntax is the set of rules, how JavaScript programs are constructed:</p>
<pre><code>var x, y, z;
x = 5; y = 6;
z = x + y;
</code></pre>
    <br>
    <h3><strong>JavaScript Values</strong></h3><br>
    <p>The JavaScript syntax defines two types of values:<br>
    <ul>
    <li>Fixed values</li>
    <li>Variable values</li>
    </ul>
    Fixed values are called Literals.<br>
    Variable values are called Variables.<br>
    </p><br>
    <h3><strong>JavaScript Literals</strong></h3>
    <p>The two most important syntax rules for fixed values are:<br>
    <ul>
    <li>Numbers are written with or without decimals</li>
    <li>Strings are text, written within double or single quotes</li>
</ul>
    </p>
    <h3><strong>JavaScript Variables</strong></h3><br>
    <p>In a programming language, variables are used to store data values.
    <br>
    JavaScript uses the var keyword to declare variables.<br>
     An equal sign is used to assign values to variables.<br>
      In this example, x is defined as a variable. Then, x is assigned (given) the value 6:<br>
    </p>
<pre><code>var x;
x = 6;</code></pre>
    <br><br>
</div>
{% endblock %}