{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}
<div class="sidenav">
  <a href="{%url 'jstutorials' %}">JS Introduction</a>
    <a href="{% url 'jstutorials-output' %}">JS Output</a>
    <a href="{% url 'jstutorials-statements' %}">JS Statements</a>
    <a href="{% url 'jstutorials-syntax' %}">JS Syntax</a>
        <a href="{% url 'jstutorials-comments' %}">JS Comments</a>
    <a href="{% url 'jstutorials-arithmetic' %}">JS Arithmetic</a>
    <a href="{% url 'jstutorials-functions' %}">JS Functions</a>
    <a href="{% url 'jstutorials-arrays' %}">JS Arrays</a>
</div>
<div class="main" style="font-size:17px">
    <h3><strong>JavaScript Programs</strong></h3><br>
    <p>A computer program is a list of "instructions" to be "executed" by a computer.<br>
        In a programming language, these programming instructions are called statements<br>
        A JavaScript program is a list of programming statements.<br>
    </p>
    <h3><strong>JavaScript Statements</strong></h3><br>
    <p>JavaScript statements are composed of:<br>
Values, Operators, Expressions, Keywords, and Comments.<br>
    This statement tells the browser to write "Hello Dolly." inside an HTML element with id="demo":<br>
    </p>
<pre><code>document.getElementById("demo").innerHTML = "Hello Dolly.";</code></pre>
    <p>
        Most JavaScript programs contain many JavaScript statements.<br>
        The statements are executed, one by one, in the same order as they are written.<br>
    </p>
    <h3><strong>Semicolons ;</strong></h3><br>
    <p>Semicolons separate JavaScript statements.<br>
    Add a semicolon at the end of each executable statement:<br>
    </p>
<pre><code>var a, b, c;
a = 5;
b = 6;
c = a + b;
</code></pre>
    <p>When separated by semicolons, multiple statements on one line are allowed:</p>
    <pre><code>a = 5; b = 6; c = a + b;</code></pre><br>
    <h3><strong>JavaScript White Space</strong></h3><br>
    <p>JavaScript ignores multiple spaces. You can add white space to your script to make it more readable.<br>
    The following lines are equivalent:
    </p>
<pre><code>var person = "Hege";
var person="Hege";
</code></pre>
    <p>
        A good practice is to put spaces around operators ( = + - * / ):<br>
    </p>
    <pre><code>var x = y + z;</code></pre><br>
    <h3><strong>JavaScript Line Length and Line Breaks</strong></h3><br>
    <p>For best readability, programmers often like to avoid code lines longer than 80 characters.<br>
If a JavaScript statement does not fit on one line, the best place to break it is after an operator:<br>
    </p>
<pre><code>document.getElementById("demo").innerHTML =
"Hello Dolly!";
</code></pre><br>
    <h3><strong>JavaScript Code Blocks</strong></h3><br>
    <p>JavaScript statements can be grouped together in code blocks, inside curly brackets {...}.<br>
    The purpose of code blocks is to define statements to be executed together.<br>
        One place you will find statements grouped together in blocks, is in JavaScript functions:<br>

    </p>
<pre><code>function myFunction() {
document.getElementById("demo1").innerHTML = "Hello Dolly!";
document.getElementById("demo2").innerHTML = "How are you?";
}
</code></pre><br>
    <h3><strong>JavaScript Keywords</strong></h3><br>
    <p>JavaScript statements often start with a keyword to identify the JavaScript action to be performed.<br>
    Visit our Reserved Words reference to view a full list of JavaScript keywords.<br>
     Here is a list of some of the keywords you will learn about in this tutorial:<br>
    </p>
    <table style="width: 100%" border="1">
<tr>
 <th style="height: 25px">Keyword</th>
 <th style="height: 25px">Description</th>
</tr>

<tr>
<td>break</td>
<td>Terminates a switch or a loop</td>
</tr>
<tr>
<td>continue</td>
<td>Jumps out of a loop and starts at the top</td>
</tr>
<tr>
<td>debugger</td>
<td>Stops the execution of JavaScript, and calls (if available) the debugging
function</td>
</tr>
<tr>
<td>do ... while</td>
<td>Executes a block of statements, and repeats the block, while a condition is
true</td>
</tr>
<tr>
<td>for</td>
<td>Marks a block of statements to be executed, as long as a condition is true</td>
</tr>
<tr>
<td>function</td>
<td>Declares a function</td>
</tr>
<tr>
<td>if ... else</td>
<td>Marks a block of statements to be executed, depending on a condition</td>
</tr>
<tr>
<td>return</td>
<td>Exits a function</td>
</tr>
<tr>
<td>switch</td>
<td>Marks a block of statements to be executed, depending on different cases</td>
</tr>
<tr>
<td>try ... catch</td>
<td>Implements error handling to a block of statements</td>
</tr>
<tr>
<td>var</td>
<td>Declares a variable</td>
</tr>
</table>
    <br><br>
</div>
{% endblock %}