<nav class="navbar navbar-default" style="margin-bottom:0px;" >
  <div class="container-fluid" style="margin-top:15px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'Homepage' %}"><span style="color:#325C74;font-size:30px;"><b>Lesson</b></span><span style="color:#67C8FF;font-size:30px;"><b>Block</b></span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a style="font-size:18px;color:#325C74;margin-right:20px">A GREAT PLACE TO LEARN!</a></li>
      <li><button style="background-color:#325C74;font-size: 14px;border-radius: 8px;padding: 8px 10px;margin-right:30px"><a style="color:#ffffff;" href="{% url 'signup' %}">SIGNUP</a></button></li>
    </ul>
  </div>
</nav>
<!--
<nav class="navbar navbar-default" style="background-color:#325C74;" >
  <div class="container-fluid" >
    <ul class="nav navbar-nav">
      <li><a style="color:#ffffff;font-size:18px">TUTORIALS</a></li>
      <li><a style="color:#ffffff;font-size:18px">REFERENCES</a></li>
      <li><a style="color:#ffffff;font-size:18px">EXAMPLES</a></li>
      <li><a style="color:#ffffff;font-size:18px">EXERCISES</a></li>
    </ul>
  </div>
</nav>-->
<div class="navbar classb">
  <div class="dropdown">
    <button class="dropbtn">TUTORIALS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'htmltutorials' %}">HTML Tutorials </a>
      <a href="{% url 'csstutorials' %}">CSS Tutorials</a>
      <a href="{% url 'jstutorials' %}">JS Tutorials</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">REFERENCES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'htmlreferences' %}">HTML References</a>
      <a href="{% url 'cssreferences' %}">CSS References</a>
      <a href="{% url 'jsreferences' %}">JS References</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">EXAMPLES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'htmlexamples' %}">HTML Examples</a>
      <a href="{% url 'cssexamples' %}">CSS Examples</a>
      <a href="{% url 'jsexamples' %}">JS Examples</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">EXERCISES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">HTML Exercises</a>
      <a href="#">CSS Exercises</a>
      <a href="#">JS Exercises</a>
    </div>
  </div>
</div>
<style>
  /* Navbar container */
.classb {
  overflow: initial;
  background-color: #325C74;
  font-family: Arial;
}

/* Links inside the navbar */
.classb a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: visible;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.classb a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
  color:#000000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
</style>