<html>
<body style="border: 5px solid #325C74">
       <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
       <div style="width:750px; height:550px; padding:20px;text-align:center;  border: 5px solid #787878">
       <span style="font-size:40px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b>{{ name }}</b></span><br/><br/>
       <span style="font-size:25px"><i>has successfully completed the course</i></span> <br/><br/>
       <span style="font-size:30px">{{ subject }} for everybody</span> <br/><br/>
           <span style="font-size:25px;"><i>on</i> {{ today }}</span><br><br>
      <span style="font-size:20px;">offered by <br><br><span style=" margin-right: 20px"><span style="color:#325C74;font-size:20px;"><b>Lesson</b></span><span style="color:#67C8FF;font-size:20px;"><b>Block</b></span></span> </span><br><br>
                 </div>
       </div>
</body>
</html>

