{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} SIGNUP {% endblock %}

{% block body %}
{% include 'navbar.html' %}

            <div class="card" style="width:50%;margin-left:25%;margin-right:25%;">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                    <a href="{% url 'login' %}" class="btn btn-link">Already have an account?</a>
                </form>
            </div>
        </div>


{% endblock %}